body{
    background-color: #9cdfd9;
}
.box{
    width: auto;
    margin: auto;
    text-align: center;
}
.dice_img{
    margin-top: 5%;
}
p{
    margin: 5% auto;
    font-size: 42px;
    border: 2px solid red;
    width: 10%;
}
.button{
    margin: 13% auto;
}
.buton{
    width: auto;
    font-size: 43px;
}
